<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agenda Financeira</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class=" container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h1 >Entrar</h1>
					<p>Preencha com suas credencias</p>
				</div>
				<div class="text-center">
					<form method="post" action="{% url 'login' %}" class="form">
						{% csrf_token %}
   	 					<div>{{ form.username.label_tag }}</div>
    					<div>{{ form.username }}</div>
							
    					<div>{{ form.password.label_tag }}</div>
    					<div>{{ form.password }}</div>
				
						<div class="row">
							<input class="btn" type="submit" value="login" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>