<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agenda Financeira</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<form method="post" action="{% url 'login' %}" class="form">
		{% csrf_token %}
		<div class="cadastro-form">
		<table>
			<tr>
   	 			<td>{{ form.username.label_tag }}</td>
    			<td>{{ form.username }}</td>
'			</tr>
			<tr>
    			<td>{{ form.password.label_tag }}</td>
    			<td>{{ form.password }}</td>
			</tr>
		</table>
	
		<input type="submit" value="login" />
		</div>
	</form>
</body>
</html>