<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Bem vindo {{ request.user.username }}</h1>
	<table> 
		<td>
			<tr>
				<a href="{% url 'cadastrarReceita' %}">Cadastrar Receita</a>
			</tr>
			<tr>
				<a href="{% url 'consultaReceita' %}">Consultar Receita</a>
			</tr>
		</td>
		<td>
			<tr>
				<a href="{% url 'cadastrarDespesa' %}">Cadastro Despesas</a>
			</tr>
			<tr>
				<a href="{% url 'cadastrarReceita' %}">Consultar Despesas</a>
			</tr>
		</td>
		<td>
			<tr>
				<a href="#">Saldo</a>
			</tr>
		</td>
	</table>
</body>
</html>