<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Bem vindo {{ request.user.username }}</h1>
	<table> 
		<td>
			<tr>
				<a href="">Cadastrar Receita</a>
			</tr>
			<tr>
				<a href="">Consultar Receita</a>
			</tr>
		</td>
		<td>
			<tr>
				<a href="">Cadastro Despesas</a>
			</tr>
			<tr>
				<a href="">Consultar Despesas</a>
			</tr>
		</td>
		<td>
			<tr>
				<a href="">Consultar Todos Lançamentos</a>
			</tr>
		</td>
	</table>
</body>
</html>